@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
* a {
	color: #000;
}

* ul {
	list-style-type: none;
}

img {
	display: block;
	max-width: 100%;
}
body {
	background-color: #fafacc;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
}

header {
	padding: 1rem;
	background-color: #458c5c;
	width: 100%;
}

h1 {
	font-family: 'Rouge Script', cursive, serif;
	font-size: 2rem;
	text-align: center;
	background-color: #458c5c;
}
h2{
	text-align: center;
}

.title-wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 60%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	gap: 0.5rem;
}

.title-secondary {
	font-size: 0.8rem;
}

nav {
	margin-top: 0.5rem;
}

nav ul ul {
	display: none;
}



nav a {
	color: #fafacc;
	text-decoration: none;
}

#logo {
	max-width: 3rem;
	border: 3px solid black;
	border-radius: 50%;
	background-color: #777;
}

#current-page {
	font-weight: 600;
	color: hsl(0, 0%, 0%);
}

#menu-icon {
	max-width: 2rem;
	margin: 0 auto;
}

.navmenu {
	display: none;
}

.navmenu-toggle {
	display: none;
}

.navmenu-mobile {
	font-size: 1.2rem;
	display: none;
}

.navmenu-mobile li {
	border-bottom: 1px solid #fafacc;
	text-align: center;
	width: 30%;
	margin: 0 auto;
}

.navmenu-toggle:checked + .navmenu-mobile {
	display: block;
}

main {
	display: block;
}

.page-h2{
	padding-top: 2rem;
}

.hero {
	display: grid;
	grid-template-columns: 2rem 1fr 2rem;
}

.hero picture {
	grid-area: 1/1 / auto/span 3;
}

#hero-caption {
	text-align: end;
}

.hero-content {
	grid-area: 1/2;
	padding-top: 30%;
	z-index: 100;
}

.hero-content * {
	padding-bottom: 0.8rem;
}

.leading-text {
	font-weight: 600;
}
.button {
	font-size: 1.2rem;
	background-color: #458c5c;
	color: #fafacc;
	padding: 3px 8px;
	border-radius: 10px;
	border: 3px outset;
	box-shadow: 2px 2px 5px black;
	transition: all 2s ease;
}

.button a {
	color: #fafacc;
	text-decoration: none;
	padding-bottom: 0;
}
button:active {
	box-shadow: 2px 2px 5px black inset;
}

.hero-content .button {
	margin-bottom: 2rem;
}

.button.card-button{
	background-color: #9ca5ce;
	color: #000;
	padding-bottom: 3px;
	padding-top: 3px;
}
.caption-text {
	font-size: 2rem;
	font-weight: bold;
}
.benefits h2,
.benefits p {
	padding: 0 2rem 0.8rem 2rem;
}

.benefits button {
	margin-bottom: 0.8rem;
	margin-left: 2rem;
}

footer {
	background-color: #458c5c;
	display: flex;
	padding: 2rem;
	justify-content: space-between;
	flex-wrap: wrap;
}

footer li {
	font-size: 0.8rem;
}

.footer-wrapper {
	max-width: fit-content;
	/* margin: 0 auto; */
}

.contact-us .footer-wrapper{
	margin: 0 0 0 auto;
}

.social-media-icons {
	display: flex;
	gap: 0.5rem;
	padding-top: 0.5rem;
}

.site-map,
.contact-us {
	width: 50%;
}

.notes {
	padding-top: 1rem;
}

.notes-content{
  font-size: 0.8rem;
}

.products-main{
	display: grid;
	margin: 0 auto;
	grid-template-columns:  1fr;
	padding: 2rem;
	gap: 1rem;
	justify-content: center;
	/* align-items: center; */
	margin: auto;
}

.card{

	background-color: #9ca5ce;
	display: flex;
	align-items: center;
	font-size: 0.8rem;
	max-width: 400px;
	margin: auto;
}

.card *{
	padding-bottom: 1rem;
	background-color: #fafacc;
	
}

.card-wrapper{
	border: 15px solid #9ca5ce;
	/* width: 90%; */
	/* margin: 1rem auto; */
	padding: 0.5rem;
}



.attributions-main{
	max-width: 80%;
	margin: 10% auto 0 auto;
	border: 2px solid #458c5c;
	border-radius: 5px;
	padding: 2rem;
}

.attributions-table
{
	max-width: 70%;
	text-align: center;
	margin: 0 auto;
	font-size: 0.8rem;
}



.attributions-table tr:nth-child(odd){
	background-color: hsl(60, 82%, 79%);
}

#attributions-table-title-row{
	background-color: #458c5c;
}

.attributions-table td:not(td:first-child){
	padding: 1rem;
}

.attributions-table tr td:nth-of-type(3){
	text-align: left;
	font-size: 0.7rem;
}

.attributions-table img {
	margin: 5px auto;
}

@media (min-width: 600px) {
	header {
		display: flex;
	}
	.title-wrapper {
		flex-direction: column;
		margin-bottom: 2rem;
	}

	h1 {
		font-size: 3rem;
		align-items: center;
	}

	.navmenu-mobile {
		display: none;
	}

	.navmenu-toggle:checked + .navmenu-mobile {
		display: none;
	}
	.navmenu {
		display: flex;
		flex-direction: row;
		justify-content: stretch;
	}

	.navmenu li {
		border-bottom: none;
		margin: 0 auto;
		text-align: center;
		font-size: 1.2rem;
	}

	.navmenu li a:hover {
		color: hsl(0, 0%, 0%);
		background-color: #fafacc;
		padding: 2px;
		border: 1px solid hsl(0, 0%, 0%);
		border-radius: 5px;
		box-shadow: 2px 2px 4px;
		font-weight: 600;
	}

	header:nth-child(1) {
		display: block;
	}

	#menu-icon {
		display: none;
	}

	nav {
		padding-bottom: 2rem;
	}

	nav ul ul {
		display: flex;
		width: 100%;
		justify-content: space-evenly;
	}

	nav ul {
		display: flex;
	}
	.hero-content {
		padding-top: 10%;
	}

	.products-main{
		grid-template-columns: 1fr 1fr;
	}

	footer {
		flex-wrap: nowrap;
	}

  .site-map, 
  .contact-us{
    flex: 2;
  }

  .footer-wrapper{
    max-width: 100%;
  }
	.notes {
    flex: 4;
		padding-top: 0;
	}


}

@media (min-width: 900px) {
	.hero {
		display: grid;
		grid-template-columns: 15vw 1fr 2rem;
	}

	.hero img {
		grid-area: 1/1 / auto/span 4;
	}

	.hero-content {
		grid-area: 1/2;
		padding-bottom: 1rem;
		font-size: 1.2rem;
		margin: 0 0 0 10%;
	}

	.caption-text {
		font-size: 3rem;
	}

	.button {
		padding: 10px 12px;
	}

	.benefits {
		grid-area: 2/2;
	}

	.products-main{
		grid-template-columns: 1fr 1fr 1fr;
	}
}
